body {
  text-align: center;
  display: grid;
  margin: auto;
  max-width: 600px;
  grid-template-areas:
    'banner'
    'search'
    'results'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 30px 60px 1fr 30px;
  grid-gap: 10px;
  position: fixed;
  top: 0;
  right: 8px;
  bottom: 0;
  left: 8px;
}

#banner {
  grid-area: banner;
}

#search_form {
  grid-area: search;
  position: relative;
  width: 100%;
}

#search {
  background-color: white;

  width: calc(100% - 16px);
  font-size: 2rem;
  text-align: center;
}

body.body--ios #search {
  /* ios hack -- the input overflowed when width: 100% is set
   * but the width must be set for non-ios. Weird. */
  width: unset;
}

#results {
  grid-area: results;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
}

#results input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

#results input[type='radio'] + label {
  display: block;
}

#results input[type='radio']:checked + label {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 2em;
  background-color: #99999988;
  border-radius: 0.25rem;
}

#results input[type='radio']:checked + label:after {
  content: 'Enter/Submit to copy';
  color: #444444;
  font-size: 0.5em;
  display: block;
}
